<!doctype html>
<html {{{ssr.htmlAttributes}}}>
    <head>
        <meta charset="utf-8">

        <!-- Page specific generic web configuration  -->

        {{{ssr.title}}}
        {{{ssr.meta}}}
        <meta name="description" content="{{applicationConfig.description}}" />
        <meta name="keywords" content="{{applicationConfig.seoKeywords}}" />
        <meta name="author" content="{{applicationConfig.authors}}" />
        {{{ssr.link}}}
        <link rel="author" href="/humans.txt" />

        <script type="application/ld+json">
         {
             "@context": "http://schema.org",
             "@type": "Organization",
             "name": "{{applicationConfig.name}}",
             "url": "{{applicationConfig.externalOrigin}}",
             "logo": "{{applicationConfig.externalOrigin}}{{applicationConfig.logoPath}}",
             "sameAs": [
                 "https://facebook.com/{{applicationConfig.facebookAppId}}",
                 "https://twitter.com/{{applicationConfig.twitterHandle}}"
             ]
         }
        </script>

        <!-- Common configuration -->

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="apple-touch-icon" sizes="180x180" href="/real/client/assets/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/real/client/assets/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/real/client/assets/favicon-16x16.png">
        <link rel="mask-icon" href="/real/client/assets/safari-pinned-tab.svg" color="{{applicationConfig.style.primaryColor}}">
        <link rel="shortcut icon" href="/real/client/assets/favicon.ico">
        <meta name="msapplication-TileColor" content="{{applicationConfig.style.primaryColor}}">
        <meta name="theme-color" content="{{applicationConfig.style.primaryColor}}">
        <link rel="manifest" href="/real/site.webmanifest">
        <meta name="msapplication-config" content="/real/browserconfig.xml">

        <!-- Essential resource loading -->

        <link rel="stylesheet" href="/real/client/vendors.chunk.css" media="screen">
        <link rel="stylesheet" href="/real/client/app.chunk.css" media="screen">
    </head>

    <body>
        <!-- Application mount point -->

        <div id="app">{{{ssr.appHtml}}}</div>

        <!-- Important resource loading -->

        <script>
          window.__RETROFEED_CLIENT_CONFIG = {{{ clientConfigSer }}};
          window.__RETROFEED_CLIENT_STATE = {{{ clientStateSer }}};
        </script>
        <script src="/real/client/manifest.js"></script>
        <script src="/real/client/vendors.chunk.js"></script>
        <script src="/real/client/app.chunk.js"></script>
    </body>
</html>
