<!doctype html>
<html lang="{{language}}">
    <head>
        <meta charset="utf-8">

        <!-- Page specific generic web configuration  -->
        <title>{{title}}</title>
        <!-- meta -->
        <!-- link -->
        <!-- page microdata -->

        <!-- Common generic web configuration -->

        <meta name="keywords" content="{{seoKeywords}}" />
        <meta name="author" content="{{contactAuthors}}" />
        <link rel="author" href="/humans.txt" />

        <!-- Common configuration -->

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="apple-touch-icon" sizes="180x180" href="/real/client/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/real/client/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/real/client/favicon-16x16.png">
        <link rel="mask-icon" href="/real/client/safari-pinned-tab.svg" color="{{style.primaryColor}}">
        <link rel="shortcut icon" href="/real/client/favicon.ico">
        <meta name="msapplication-TileColor" content="{{style.primaryColor}}">
        <meta name="theme-color" content="{{style.primaryColor}}">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-config" content="/browserconfig.xml">

    </head>

    <body>
        {{{body}}}
    </body>
</html>
