<!doctype html>
<html lang="{{language}}">
    <head>
        <meta charset="utf-8">

        <!-- Page specific generic web configuration  -->
        <title>{{title}}</title>
        <meta name="description" content="{{applicationConfig.description}}" />
        <link rel="canonical" href="{{applicationConfig.externalOrigin}}/{{path}}" />
        <meta name="keywords" content="{{applicationConfig.seoKeywords}}" />
        <meta name="author" content="{{applicationConfig.authors}}" />
        <link rel="author" href="/humans.txt" />

        <!-- TODO: page microdata -->

        <!-- Common configuration -->

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="apple-touch-icon" sizes="180x180" href="/real/client/assets/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/real/client/assets/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/real/client/assets/favicon-16x16.png">
        <link rel="mask-icon" href="/real/client/assets/safari-pinned-tab.svg" color="{{applicationConfig.style.primaryColor}}">
        <link rel="shortcut icon" href="/real/client/assets/favicon.ico">
        <meta name="msapplication-TileColor" content="{{applicationConfig.style.primaryColor}}">
        <meta name="theme-color" content="{{applicationConfig.style.primaryColor}}">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-config" content="/browserconfig.xml">

        <!-- Essential resource loading -->

        <link rel="stylesheet" href="/real/client/app.css" media="screen">
    </head>

    <body>
        {{{body}}}

        <!-- Application mount point -->

        <div id="app"></div>

        <!-- Important resource loading -->

        <script src="/real/client/app.js"></script>
    </body>
</html>
